ubuntu-bionic-18.04-cloudimg-console.log
.vagrant/
venv/
.idea/
uploads/
module/
__pycache__/
pruebas*.*
venv/
venv1/
.vconv/
.idea/
__pycache__/
venv_conv/*
workdir
*.coverage
*.pdf
*.wav
*.exe
*copy*.*
*.rar
CONVERTER/src/com/jalasoft/converter/factory.py
